---
import MainLayout from "../layouts/MainLayout.astro";

const name = "About page";
---

<MainLayout title="About page">
  <h1>{name}</h1>
</MainLayout>

<style>
  h1 {
    color: blue;
  }
</style>
