---

---

<nav class="w-full h-12 flex justify-evenly items-center text-black bg-black">
  <a
    class="text-white px-2 bg-black hover:bg-white hover:text-black rounded transition-all duration-500 active:text-red-500"
    href="/">HOME</a
  >
  <a
    class="text-white px-2 bg-black hover:bg-white hover:text-black rounded transition-all duration-500"
    href="/about">ABOUT</a
  >
  <a
    class="text-white px-2 bg-black hover:bg-white hover:text-black rounded transition-all duration-500"
    href="/contact">CONTACT</a
  >
</nav>
